.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--gray-2);
}

.banner__content{
    display: flex;
    width: 1256px;
    padding: 250px 236px; 
    align-items: center;
    gap: 44px;
    flex-direction: column;
    font-size: clamp(1.375rem, 0.125rem + 1000vw, 3.25rem);
}

.banner__title{
    color: var(--gray-6, #EDF2FF);
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

em{
    color: var(--brand-1, #4C6EF5);
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.banner__text{
    width: 770px;
    color: var(--gray-4, #ADB5BD);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.banner__button{
    display: flex;
    height: 60px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--brand-1, #4C6EF5);
    background: var(--brand-1, #4C6EF5);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;    
    color: var(--gray-7, #F8F9FA);
}