dialog {
    padding: 0;
    width: 504px;
    height: 416px;
    border: 2px solid var(--brand-1, #4C6EF5); 
    background: var(--gray-2, #212529);
  }

  .modal__container {
    display:flex;
    align-items: center;
    padding: 40px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
  }

  .modal__title{
    color: var(--gray-7, #F8F9FA);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
  }

  .modal__text{
    color: #CED4DA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 448px;
    height: 72px;
  }

  .modal__input{
    width: 408px;
    height: 30px;
    display: flex;
    padding: 14px 20px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid var(--gray-1, #191C1F);
    background: var(--gray-1, #191C1F);
    text-align: left;
    color: var(--gray-4);
  }

  .buttonAndTitle{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 448px;
    height: 51px;
  }

  .modal__button{
    margin-top: 29px;
    color: var(--gray-7, #F8F9FA);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    width: 448px;
    height: 60px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--brand-1, #4C6EF5);
    background: var(--brand-1, #4C6EF5);
  }

.modal__close{
   border: none; 
   background-color: var(--gray-2);
}

dialog::backdrop {
    background: rgba(25, 28, 31, 0.80);
  }