.footer{
    width: 100%;
    justify-content: center;
    display: flex;
    background: var(--gray-1);
}

.footer__content{
    display: flex;
    width: 1256px;
    height: 102px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__img{
    width: 178.423px;
    height: 18.554px;
    flex-shrink: 0;
    fill: var(--gray-6)
}